<!DOCTYPE html>
<html>
<head>
  <title>Smartmirror</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW0jq-ehs5BApGZgLdKYWb7E-y3GUCuSQ&callback=init"
  async defer></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
