<div class="row">
  <div class="col-md-4">
    <div class="clock">
      <div id="Day"></div>
      <ul>
        <li id="hours"></li>
        <li id="point">:</li>
        <li id="min"></li>
        <li id="point">:</li>
        <li id="sec"></li>
      </ul>
      <div id="Date"></div>
    </div>

  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="weather">
      <iframe id="forecast_embed" type="text/html" frameborder="0" height="400" width="100%" src="http://forecast.io/embed/#lat=41.525626&lon=-81.433057&name=Mayfield, OH&text-color=#fff&units=us"> </iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="message">
      <p>Welcome! Kamal, Kareem, Amy and Rasha!<p>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>